a {
    color: #fff;
    text-decoration: none;
} 
a:visited {
    color: #fff;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    left: 0;
}

.modCard {
    list-style: none;
    background-clip: border-box;
    background-color: #grey;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    word-wrap: break-word;
}

.modImage {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    background-color: azure;
    width: 100%;
    margin-bottom: -4px;
}

.cardBody {
    background-color: grey;
    padding: .8rem;
}

.title {
    font-size: .9rem;
    font-weight: 600;
    margin-top: -5px;
}

.type {
    font-size: 0.8rem;
    margin-bottom: 0;
    line-height: 0.8rem;
    margin-top: 4px;
}

.downloadButton {
    margin-top: 10px;
    background-color: #efbb43;
    border-color: #dfaf3f;
    width: 100%;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.downloadButton:hover {
    background-color: #e09f06;
    border-color: #ce9206;
}

.info {
    position: relative;
    float: right;
    top: -24px;
    margin-right: 0;
    background-color: rgba(24, 24, 24, 0.164);
    padding: 2px 4px;
    border-top-left-radius: calc(.25rem - 1px);
  }

  .info:hover {
    background-color: grey;
    transition: color .10s ease-in-out,background-color .10s ease-in-out,border-color .10s ease-in-out,box-shadow .10s ease-in-out;
  }

