.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 10px;
    padding: 10px 40px;
    justify-content: center;
}

.maintitleMods {
    color: #fff;
    background-color: grey;
    margin: 10px 0 10px 0;
    padding: 10px 25px;
    width: 125px;
    text-align: left;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.maintitleMissions {
    color: #fff;
    background-color: grey;
    margin: 10px 0 10px 0;
    padding: 10px 25px;
    width: 125px;
    text-align: left;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.filter {
    position: relative;
    float: right;
    padding: 10px;
}
.filter select {
    margin-left: 5px;
} 
.filter label {
    font-size: 0.8rem;
}